.container__history {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 230px;
  z-index: 999;
  background-color: black;
  color: white;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
